/* common.css */

body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
}

.ns {
    font-family: 'Noto Serif', serif;
}

.custom-text-color-1 { color: #FAC9BC; }
.custom-text-color-2 { color: #7D2248; }

.w-250-px { width: 250px !important; }

.bg-dark {
    background-color: #000 !important;
}

.btn-custom {
    background: linear-gradient(90deg, #101820 0%, #1B2835 100%) !important;
    border-radius: 10px;
}

.btn-custom-2 {
    background-color: none;
}

.btn-custom-2:hover {
    color: #cc0659 !important;
}

.item-text {
    font-size: 14px;
}

.logo-text {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.nav-cart {
    font-weight: bold;
}

.nav-cart .txt-1 {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.h-items { color: #7D2248; }
.h-items span { font-size: 14px; }

.nav-cart .txt-2 {
    font-size: 10px;
    line-height: 14px;
}

.bg-body { background-color: #E4D5D3; }

.bg-gradient {
    background: linear-gradient(180deg, #F4E9E7 0%, #E4D5D3 100%);
}

.custom-control-label A, .custom-control-label A:visited { color: #E24585; font-weight: bold; }
.custom-control-label A:hover { color: #E24585; text-decoration: underline; }

A.addr-link, A.addr-link:visited { color: #bbb !important; font-weight: bold; }
A.addr-link:hover { text-decoration: underline;}

A.addr-link.active, A.addr-link.active:visited { color: #7D2248 !important; }

.order-panel {
    border-radius: 20px;
}
/* media screens */

@media( min-width:110px ) {
    .fluid-input { width: 100% !important; }
    .text-phone, .message-phone { text-align: center; }
}

@media( min-width:360px ) { }

@media( min-width:420px ) { }

@media( min-width:500px ) { }

@media (min-width:576px ) { }

@media (min-width:640px ) { }

@media( min-width:768px ) { }

@media( min-width:992px)  {
    .fluid-input { width: 80% !important; }
    .text-phone { text-align: right; }
    .message-phone { text-align: left; }
}

@media( min-width:1160px ) { }
